<a href="https://colab.research.google.com/github/jayaditya366/C-programs/blob/main/module_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#input from user
a=int(input("enter value :"))
print(a)

enter value :77
77

In [ ]:
#.format

In [4]:
import builtins
#doing arthemetic operations
a=float(input("enter num1:"))
b=float(input("enter num2:"))
sum=a+b
sub=a-b
mult=a*b
div=a/b
mod=a%b
print(sum)
print(sub)
print(mult)
print(div)
print(mod)

enter num1:12
enter num2:45
57.0
-33.0
540.0
0.26666666666666666
12.0

In [9]:
#conversions hours into seconds
a=float(input("enter time in hours: "))
con=a*60
print(con)

enter time in hours: 65
3900.0

In [20]:
#using mathematical function
import math
a=float(input("enter any number"))
print(math.sqrt(a))
b=float(input("enter any number"))
print(math.ceil(b))
c=float(input("enter any number"))
print(math.floor(c))
d=float(input("enter any number"))
print(math.fabs(d))
e=float(input("enter any number"))
print(math.pow(4,2))
f=float(input("enter any number"))
print(math.fmod(f,a))
g=float(input("enter any number"))
print(math.trunc(g))

enter any number48
6.928203230275509
enter any number48
48
enter any number48
48
enter any number45
45.0
enter any number5
16.0
enter any number44
44.0
enter any number25
25

In [36]:
#building calculator
a=float(input("enter num1:"))
b=float(input("enter num2:"))
c=str(input("enter ur operator"))
if c=="+" :
    sum=a+b
    print(sum)

elif c=="-" :
  sub=a-b
  print(sub)

elif c=="*" :
 mult=a*b
 print(mult)

elif c=="%" :
 mod=a%b
 print(mod)

enter num1:52
enter num2:45
enter ur operator%
7.0

In [42]:
#calculating student grades
math=float(input("enter ur score"))
soc=float(input("enter ur score"))
eng=float(input("enter ur score"))
sci=float(input("enter ur score"))
hin=float(input("enter ur score"))
avg=float((math+soc+eng+sci+hin)/5)
if avg>90 :
  print("congrats ur grade is A!")
elif avg>80 and avg<90 :
  print("congrats ur grade is B!")
elif  avg>70 and avg<80 :
  print("congrats ur grade is C!")
elif avg>60 and avg<70 :
  print("congrats ur grade is D!")
elif avg<60 :
  print("fail")

enter ur score15
enter ur score45
enter ur score90
enter ur score45
enter ur score89
fail

In [ ]:
#Printing all even numbers, odd numbers, count of even numbers, count of odd numbers
#within a given range.

In [8]:
#miles in km
a=float(input("enter distance in miles"))
con=a*1.60934
print(con)

enter distance in miles5
8.0467 km